.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;

  div {
    color: #c9f83e;
    border-radius: 0;
    label {
      color: #c9f83e;
    }
    label:focus {
      background-color: #c9f83e !important;
    }
    &:focus-within {
      label {
        color: #c9f83e;
      }
    }
  }

  button {
    margin-top: 10px;
    background-color: #c9f83e;
    font-weight: bold;
    color: #36394a;
  }
  button:hover {
    background-color: #434c66;
    color: #c9f83e;
  }
}
