.tabs {
  background-color: #330570 !important;
  color: #C9F83E !important;

  .tab {
    color: #C9F83E !important;
    font-weight: 700 !important;

    span {
      background-color: initial !important;
    }
  }

  span {
    background-color:#C9F83E !important;
  }
}



