.root {
  background-color: #36394a;
  padding: 10px 0;
  border-bottom: 1px solid #e6fc3f;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  text-align: center;
  align-items: center;
}

.logo {
  background-color: #c9f83e;
  color: #330570;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #86899e;
    color: #c9f83e;
  }
}

.buttons {
  button {
    background-color: #c9f83e;
    color: black;
    margin: 10px;
    font-weight: bold;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: #86899e;
      color: #c9f83e;
    }
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .buttons {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}
