.root {
  .avatar {
    cursor: pointer;
  }
  .listText {
    position: relative;
    .text {
      color: #c9f83e;
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -32%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #c9f83e;
      z-index: 0;
    }
  }
}
