.tabs {
  background-color: #36394a !important;
  color: #c9f83e !important;

  .tab {
    color: #c9f83e !important;
    font-weight: 700 !important;

    span {
      background-color: initial !important;
    }
  }

  span {
    background-color: #c9f83e !important;
  }
}
